<section class="about" id="about">
  <div class="container">

    <h2 class="about__title section-title">
      О студии
    </h2>

    <div class="grid-wrapper">
      <p class="about__descr">
        В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.
      </p>

      <div class="about__right flex-column">
          <div class="about__picture">
            <picture>
              <source srcset="images/about/about-bg-375.webp" media="(max-width: 375px)" type="image/webp" width="345" height="345">
              <source srcset="images/about/about-bg-375.jpg" media="(max-width: 375px)" type="image/jpeg" width="345" height="345">

              <source srcset="images/about/about-bg.webp" type="image/webp">
              <img class="about__image" src="images/about/about-bg.jpg" loading="lazy" alt="Фотоаппарат" width="852" height="569">
            </picture>
          </div>

        <form class="about__form about-form flex-wrap form-control" novalidate>

          <p class="about-form__title">
            Подписаться на рассылку
          </p>

          <div class="about-form__input-wrapper input-error-wrapper">
            <input class="about-form__input input-control input-reset input-styles-dark" type="email" name="email" placeholder="Email" required>
            <span class="about-form__input-error input-error">Недопустимый формат</span>
          </div>
          <button class="about-form__btn btn-reset btn-primary">
            Отправить
          </button>

        </form>
      </div>
    </div>

  </div>
</section>
