<footer class="footer">
  <div class="container flex">

    <div class="logo-wrapper flex-column">

      <a href="#" class="logo" aria-label="Логотип">
        <img src="images/shared/logo.svg" alt="logo" width="191" height="31">
      </a>

      <p class="footer__logo-descr">
        Фотостудия High pass® 2018–2020
      </p>

    </div>

    <p class="footer__quot">
      <q>
        Которая из моих фотографий самая любимая?<br>
        Та, которую я собираюсь снять завтра.
      </q>
      © Имоджен Каннингем
    </p>

    <div class="footer__socials flex-column">
      <span class="footer__socials-text">
        Больше интересного:
      </span>

      <ul class="footer__socials-list socials list-reset flex">

        <li class="socials__item">
          <a href="#" class="socials__link" target="_blank" aria-label="Одноклассники">
            <svg width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="images/sprites.svg#ok" />
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a href="#" class="socials__link" target="_blank" aria-label="Вконтакте">
            <svg width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="images/sprites.svg#vk" />
            </svg>
          </a>
        </li>

      </ul>
    </div>

  </div>
</footer>
