<section class="projects" id="projects">
  <div class="container">

    <h2 class="projects__title section-title">
      Наши проекты
    </h2>

    <div class="projects__wrapper">
      <article class="project">

        <picture>
          <source srcset="images/projects/project-1-576.webp" media="(max-width: 576px)" type="image/webp" width="345" height="228">
          <source srcset="images/projects/project-1-576.jpg" media="(max-width: 576px)" type="image/jpeg" width="345" height="228">

          <source srcset="images/projects/project-1.webp" type="image/webp" width="218" height="184">
          <img class="project__image" src="images/projects/project-1.jpg" loading="lazy" alt="Озеро на фоне гор" width="218" height="184">
        </picture>

        <div class="project__hash">
          #пейзаж
        </div>

        <h3 class="project__title-link">
          <a href="#" class="project__link" target="_blank">
              Синтетически, смешаны с не уникальны ми данными до степени
          </a>
        </h3>

        <time class="project__date" datetime="06-16">
          16 июня
        </time>

      </article>
      <article class="project">

        <picture>
          <source srcset="images/projects/project-2-576.webp" media="(max-width: 576px)" type="image/webp" width="345" height="228">
          <source srcset="images/projects/project-2-576.jpg" media="(max-width: 576px)" type="image/jpeg" width="345" height="228">

          <source srcset="images/projects/project-2.webp" type="image/webp" width="218" height="184">
          <img class="project__image" src="images/projects/project-2.jpg" loading="lazy" alt="Фото мужчины в профиль" width="218" height="184">
        </picture>

        <div class="project__hash">
          #портрет
        </div>

        <h3 class="project__title-link">
          <a href="#" class="project__link" target="_blank">
            В своём стремлении улучшить опыт мы упускаем, что явные
          </a>
        </h3>

        <time class="project__date" datetime="05-28">
          28 мая
        </time>

      </article>
      <article class="project project-tablet-span">

        <picture>
          <source srcset="images/projects/project-3-375.webp" media="(max-width: 375px)" type="image/webp" width="345" height="228">
          <source srcset="images/projects/project-3-375.jpg" media="(max-width: 375px)" type="image/jpeg" width="345" height="228">

          <source srcset="images/projects/project-3.webp" type="image/webp" width="546" height="216">
          <img class="project__image project-tablet-span__image" src="images/projects/project-3.jpg" loading="lazy" alt="Домашняя утварь, натюрморт" width="546" height="216">
        </picture>

        <div class="project__hash project-tablet-span__hash">
          #предмет
        </div>

        <h3 class="project__title-link project-tablet-span__title-link">
          <a href="#" class="project__link project-tablet-span__link" target="_blank">
            Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
          </a>
        </h3>

        <time class="project__date project-tablet-span__date" datetime="05-14">
          14 мая
        </time>

      </article>
      <article class="project project-bg">

        <picture>
          <source srcset="images/projects/project-4-375.webp" media="(max-width: 375px)" type="image/webp" width="345" height="524">
          <source srcset="images/projects/project-4-375.jpg" media="(max-width: 375px)" type="image/jpeg" width="345" height="524">

          <source srcset="images/projects/project-4.webp" type="image/webp" width="714" height="372">
          <img class="project-bg__image" src="images/projects/project-4.jpg" loading="lazy" alt="Девушка" width="714" height="372">
        </picture>

        <div class="project-bg__hash">
          #fuji
        </div>

        <time class="project-bg__date" datetime="04-09">
          9 апреля
        </time>

        <h3 class="project-bg__title">
          Cемантический разбор
        </h3>

        <p class="project-bg__descr">
          В рамках спецификации современных стандартов, интерактивные прототипы
        </p>

        <a href="#" class="project-bg__link btn-secondary" target="_blank">
          О проекте
        </a>

      </article>
      <article class="project project-span-3">

        <picture>
          <source srcset="images/projects/project-5-576.webp" media="(max-width: 576px)" type="image/webp" width="345" height="228">
          <source srcset="images/projects/project-5-576.jpg" media="(max-width: 576px)" type="image/jpeg" width="345" height="228">

          <source srcset="images/projects/project-5.webp" type="image/webp" width="342" height="184">
          <img class="project__image project-span-3__image" src="images/projects/project-5.jpg" loading="lazy" alt="Апельсины" width="342" height="184">
        </picture>

        <div class="project__hash project-span-3__hash">
          #ретушь
        </div>

        <h3 class="project__title-link project-span-3__title-link">
          <a href="#" class="project__link project-span-3__link" target="_blank">
            Как принято считать, многие известные личности и по сей день остаются уделом либералов
          </a>
        </h3>

        <time class="project__date project-span-3__date" datetime="05-09">
          9 марта
        </time>

      </article>
      <article class="project project-span-3">

        <picture>
          <source srcset="images/projects/project-6-576.webp" media="(max-width: 576px)" type="image/webp" width="345" height="228">
          <source srcset="images/projects/project-6-576.jpg" media="(max-width: 576px)" type="image/jpeg" width="345" height="228">

          <source srcset="images/projects/project-6.webp" type="image/webp" width="342" height="184">
          <img class="project__image project-span-3__image" src="images/projects/project-6.jpg" loading="lazy" alt="Черно-белое фото девушки" width="342" height="184">
        </picture>

        <div class="project__hash project-span-3__hash">
          #портрет
        </div>

        <h3 class="project__title-link project-span-3__title-link">
          <a href="#" class="project__link project-span-3__link" target="_blank">
            С учётом сложившейся международной обстановки, новая модель организационной
          </a>
        </h3>

        <time class="project__date project-span-3__date" datetime="05-01">
          1 марта
        </time>

      </article>
      <article class="project project-bg">

        <picture>
          <source srcset="images/projects/project-7-375.webp" media="(max-width: 375px)" type="image/webp" width="345" height="524">
          <source srcset="images/projects/project-7-375.jpg" media="(max-width: 375px)" type="image/jpeg" width="345" height="524">

          <source srcset="images/projects/project-7.webp" type="image/webp" width="714" height="372">
          <img class="project-bg__image" src="images/projects/project-7.jpg" loading="lazy" alt="Горный утес на фоне облаков" width="714" height="372">
        </picture>

        <div class="project-bg__hash">
          #проектзабвение
        </div>

        <time class="project-bg__date" datetime="05-20">
          20 марта
        </time>

        <h3 class="project-bg__title">
          Забвение
        </h3>

        <p class="project-bg__descr">
          Играет важную роль в формировании глубокомысленных рассуждений
        </p>

        <a href="#" class="project-bg__link btn-secondary" target="_blank">
          О проекте
        </a>

      </article>
    </div>

  </div>
</section>
